@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.btn1 {
    text-align: center;
}

a {}

a:hover {
    color: #339900;
}

.btn1 a {
    font-size: 14px;
    line-height: 1.6;
    color: #fefefe;
    display: inline-block;
    padding: 6px 55px;
    color: #fefefe;
    letter-spacing: 0.1em;
    border: 1px solid #fefefe;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.btn1 a:hover {
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {
    overflow: hidden;
    width: 100%;
}

.wrapper {
    width: 1000px;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper660 {
    width: 660px;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper770 {
    width: 770px;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper900 {
    width: 900px;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .wrapper660 {
        width: 92%;
        padding: 0 0px;
        margin: 0 auto;
        text-align: left;
    }

    .wrapper770 {
        width: 92%;
        padding: 0 0px;
        margin: 0 auto;
        text-align: left;
    }

    .wrapper900 {
        width: 92%;
        padding: 0 0px;
        margin: 0 auto;
        text-align: left;
    }
}

@media screen and (max-width: 1080px) {
    .wrapper {
        width: 92%;
        padding: 0 0px;
        margin: 0 auto;
        text-align: left;
    }
}

/* header
----------------------------------------------------------------------------------------------------*/
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
    background: #fff;
    z-index: 9999;
}

header h1 {
    float: left;
    padding-left: 30px;
    padding-top: 6px;
}

header nav {
    float: left;
    padding-left: 20px;
}

header .contact {
    padding-right: 30px;
    float: right;
}

header nav ul li {
    display: inline-block;
    padding: 0;
    border-width: thin;
    text-align: center;
    position: relative;
}

header nav ul li a {
    display: block;
    font-size: 13px;
    padding: 16px 0px 19px 0px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff !important;
}

@media screen and (max-width: 1300px) {
    header nav {
        padding-left: 0;
    }
}

@media screen and (max-width: 1240px) {
    header nav {
        width: 100%;
    }

    header nav ul li img {
        width: 80%;
    }

    header nav ul li a {
        padding: 0 0 10px;
    }
}

header .sp-menu {
    display: none;
}

@media screen and (max-width: 1240px) {
    header .pc-menu {
        display: none;
    }

    header {
        width: 100%;
        background: #fff;
        padding: 3px 0;
        z-index: 9999;
        position: fixed;
    }

    header .sp-menu {
        z-index: 998;
        display: block;
    }

    header .top {
        padding-top: 22px;
        padding-bottom: 18px;
        width: 100%;
        font-size: 13px;
    }

    header h2 {
        color: #585755;
        font-size: 13px;
        text-align: left;
        padding: 5px 2% 5px 2%;
    }

    header h2 img {
        width: auto;
        height: 33px;
        padding-left: 5px;
    }

    header .menu {
        height: 49px;
        text-align: right;
        /* overflow: hidden; */
        position: absolute;
        top: 0;
        right: -5px;
        background: #339900;
    }

    header .menu img {
        padding: 0px 5px 0 0;
    }

    #closeMenu {
        display: none;
        z-index: 10001;
    }

    #openMenu img,
    #closeMenu img {
        width: 54px;
        height: auto;
        z-index: 10001;
    }

    #overray {
        display: none;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        margin-top: 50px;
    }

    #closeMenu {
        display: none;
    }

    #layerMenu {
        margin-top: 49px;
        position: absolute;
        top: 0px;
        display: none;
        width: 100%;
        z-index: 10010;
        background: rgba(50, 32, 10, 1);
    }

    /* メニュー */
    header nav ul {
        overflow: hidden;
        background: #339900;
        width: 100%;
    }

    header nav ul li {
        padding: 1% 0;
        width: 100%;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px dashed #333333;
    }

    header nav ul li:last-of-type {
        border-bottom: none;
    }

    header nav ul li a {
        color: #fff !important;
        font-size: 13px;
        text-decoration: none;
        padding: 1% 2% 1% 2%;
        display: block;
        position: relative;
        text-align: left;
        overflow: hidden;
    }

    header nav ul li a::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 23px;
        height: 23px;
        right: 3%;
        top: 28%;
        background-image: url(../../images/linkbtn_arrow.svg);
        background-size: contain;
        vertical-align: middle;
    }

    header nav ul li a img {
        width: 160px;
    }

    header nav ul li.about img {
        position: relative;
        left: 5px;
    }

    header nav ul li.facility img {
        position: relative;
        left: 3px;
    }

    header nav ul li.program img {
        position: relative;
        left: 4px;
    }

    header nav ul li.question img {
        position: relative;
        left: 3px;
    }

    header nav ul li.recruit img {
        position: relative;
        left: 5px;
    }

    header nav ul li.contact a::after {
        content: none;
    }

    header nav ul li.contact img {
        width: 300px;
        margin: 0 auto;
    }

    header nav ul li.contact a {
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
    }

}


/* footer
----------------------------------------------------------------------------------------------------*/
footer {
    background: #fffadd;
}

.footer_photo {
    background: url(../../images/footer_obi.svg) no-repeat center;
    background-size: cover;
    height: 400px;
}

.footer_photo2 {
    background: url(../../images/footer_obi.svg) no-repeat center;
    background-size: cover;
    height: 400px;
}

@media screen and (max-width: 1000px) {
    .footer_photo {
        height: 300px;
    }

    .footer_photo2 {
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .footer_photo {
        height: 200px;
    }

    .footer_photo2 {
        height: 200px;
    }
}


#page_program .footer_photo {
    display: none;
}

#page_facility .footer_photo {
    display: none;
}

footer .wrapper {
    width: 1200px;
}

@media screen and (max-width: 1200px) {
    footer .wrapper {
        width: 100%;
    }
}

footer .outer_left {
    width: 30%;
    float: left;

}

footer .outer_right {
    width: 70%;
    float: left;
}

@media screen and (max-width: 1200px) {
    footer .outer_right {
        padding-left: 8%;
    }
}

footer .outer_right nav {
    width: 70%;
    float: left;
}

footer .outer_right .recruit {
    width: 30%;
    float: left;
}

footer .outer_right .recruit .contact img {
    width: 200px;
    margin-bottom: 4%;
}

@media screen and (max-width: 1200px) {
    footer .outer_right nav {
        width: 100%;
        float: left;
    }

    footer .outer_right .recruit {
        width: 100%;
    }

    footer .outer_right .recruit .contact {
        text-decoration: none;
    }

    footer .outer_right .recruit .contact:hover {
        text-decoration: none;
    }

    footer .outer_right .recruit .contact img {
        width: 225px;
        margin-bottom: 7px;
        margin-right: 5px;
    }

}

footer .inner {
    padding-top: 55px;
}

footer nav ul {
    display: table-cell;
    width: 33%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer nav ul li {
    padding: 0 10px 0 15px;
    margin-bottom: 4px;
    position: relative;

}

footer nav ul li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    left: -7px;
    top: 23%;
    background-image: url(../../images/footer_arrow.svg);
    background-size: contain;
    vertical-align: middle;
}

footer nav ul li.sp-menu {
    display: none;
}

footer nav ul li a {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.13em;
    color: #333333;
}

footer .outer_left p {
    font-size: 13px;
    text-align: left;
    padding-left: 4%;
    font-weight: bold;
}

footer .outer_left .comp {
    width: 315px;
    margin-left: 6%;
}

footer .copy {
    font-size: 12px;
    padding-right: 35px;
    padding-bottom: 40px;
    padding-top: 35px;
    text-align: right;
}

footer .outer {
    padding-bottom: 35px;
}

#page-top a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 128px;
}

/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents.col2 {
    width: 810px;
    float: left;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
    padding-bottom: 50px;
}

#contents {
    margin: 0 auto;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
    padding-bottom: 50px;
}

#page_program #contents {
    padding-bottom: 0px;
}

#page_facility #contents {
    padding-bottom: 0px;
}

#contents p {
    color: #333333;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
}

#sidebar ul.bnr {}

#sidebar ul.bnr li {
    margin-bottom: 20px;
}

#sidebar ul.bnr li a {
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar ul.bnr li a:hover {
    display: block;
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#pagetitle {
    width: 100%;
    text-align: center;
    background-size: cover;
    margin-top: 120px;
}

@media screen and (max-width: 1240px) {
    #pagetitle {
        margin-top: 49px;
    }
}

#pagetitle.default {
    background: url(../../images/pagetitle.jpg) center center;
    height: 280px;
    background-size: cover;
}

#page_price #pagetitle {
    background: url(../../images/pagetitle_price.jpg) center center;
    height: 300px;
    background-size: cover;
}

#page_question #pagetitle {
    background: url(../../images/pagetitle_question.jpg) center center;
    height: 300px;
    background-size: cover;
}

#page_recruit #pagetitle {
    background: url(../../images/pagetitle_recruit.jpg) center center;
    height: 300px;
    background-size: cover;
}

#page_facility #pagetitle {
    background: url(../../images/pagetitle_facility.jpg?v=20190403) center center;
    height: 300px;
    background-size: cover;
}

#page_about #pagetitle {
    background: url(../../images/pagetitle_about.jpg) center center;
    height: 300px;
    background-size: cover;
}

#page_program #pagetitle {
    background: url(../../images/pagetitle_program.jpg) center center;
    height: 300px;
    background-size: cover;
}

#page_contact #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) center center;
    height: 300px;
    background-size: cover;
}

#pagetitle .text {
    position: relative;
    width: 100%;
}

#pagetitle .text img {
    position: absolute;
    left: 20px;
    top: 99px;
}
