@charset "utf-8";

/* index
----------------------------------------------------------------------------------------------------*/
/* mainimg */
#page_index section.mainimage {
    height: 579px;
    background: url(../../images/mainimage.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    margin-top: 120px;
}

@media screen and (max-width: 1240px) {
    #page_index section.mainimage {
        margin-top: 49px;
    }
}

#page_index section.mainimage h2 {
    text-align: center;
    padding-top: 6%;
}

#page_index section.mainimage .linkbtn {
    position: absolute;
    right: 8%;
    bottom: -100px;
    z-index: 9998;
}

@media screen and (max-width: 1020px) {
    #page_index section.mainimage h2 img {
        width: 510px;
    }

    #page_index section.mainimage {
        height: 380px;
    }

    #page_index section.mainimage .linkbtn img {
        width: 170px;
    }

}

#page_index .feature {
    position: relative;
}

#page_index .feature .img_left {
    position: absolute;
    left: 60px;
    top: 120px;
}

#page_index .feature .img_right {
    position: absolute;
    right: 60px;
    top: 120px;
}

@media screen and (max-width: 1350px) {
    #page_index .feature .img_left {
        left: 0;
    }

    #page_index .feature .img_right {
        right: 0;
    }

}

#page_index .feature .outer {
    width: 100%;
}

#page_index .feature .outer .left {
    width: 50%;
    float: left;
}

#page_index .feature .outer .right {
    width: 50%;
    float: left;
}

#page_index .feature .wrapper img {
    width: 100%;
}

#page_index .feature p {
    text-align: center;
}

#page_index section.hoiku .photo {
    background: url(../../images/hoiku_bg.png) center no-repeat;
    height: 490px;
}

#page_index .about {
    position: relative;
}

#page_index .about .left {
    position: absolute;
    left: 60px;
    top: 0;
}

#page_index .about .right {
    position: absolute;
    right: 60px;
    top: 0;
}

@media screen and (max-width: 1350px) {
    #page_index .about .left {
        left: 0;
    }

    #page_index .about .right {
        right: 0;
    }
}

@media screen and (max-width: 1020px) {
    #page_index .about .left {
        width: 26%;
        top: 12%;
    }

    #page_index .about .right {
        width: 26%;
        top: 12%;
    }
}


#page_index .about p {
    text-align: center;
    font-weight: bold;
}

#page_index .hoiku img {
    width: 100%;
}

#page_index .hoiku p {
    text-align: center;
    font-weight: bold;
}

#page_index .feature {
    text-align: center;
    font-weight: bold;
}

#page_index .news .outer {
    width: 100%;
}

#page_index .news .outer .left {
    width: 24%;
    float: left;
}

#page_index .news .outer .right {
    width: 76%;
    float: left;
    margin-top: 12px;
}

#page_index .news .outer .right {
    border-top: 2px dashed #ccc;
}

#page_index .news .outer .right dl {
    width: 100%;
    border-bottom: 2px dashed #ccc;
    padding: 18px 0;
    font-weight: bold;
}

#page_index .news .outer .right dl dt {
    width: 18%;
    float: left;
    color: #339900;
}

#page_index .news .outer .right dl dd {
    width: 82%;
    float: left;
    position: relative;
}

#page_index .news .outer .right dl dd:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    right: 10px;
    top: 23%;
    background-image: url(../../images/footer_arrow.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_index .iziModal {
    background: transparent;
    box-shadow: none;
    z-index: 10000 !important;
}

#page_index .iziModal .iziModal-content {
    border: 2px solid #000;
    background: #fff;
    border-radius: 7px;
    padding: 40px !important;
    text-align: left;
    min-height: 500px;
    position: relative;
}

@media screen and (max-width: 1040px) {
    #page_index .iziModal .iziModal-content {
        margin: 0 auto !important;
        width: 92% !important;
    }
}

#page_index .iziModal .modal_content {
    padding-top: 30px;
    font-size: 16px;
}

#page_index .modal_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dashed #9e9e9e;
    text-align: left;
    padding-bottom: 10px;
}

#page_index .modal_title .date {
    display: block;
    color: #339900;
    font-size: 13px;
    letter-spacing: 2px;
}

#page_index .modal-close {
    position: absolute;
    right: -38px;
    top: -38px;

}

/* about
----------------------------------------------------------------------------------------------------*/
#page_about .headline {
    width: 100%;
}

#page_about section.business_top {
    background: url(../../images/about_business_bg.jpg) center top;
    min-height: 698px;
    background-size: cover;
    position: relative;
    margin-bottom: 80px;
}

#page_about section.business_top .text {
    width: 50%;
    margin-right: auto;
    padding-top: 150px;
    position: relative;
}

#page_about section.business_top .text .inner {
    background: #fff;
    padding: 90px 90px 40px 190px;
    background: #fff;
}

#page_about section.business_top .text .star_right {
    position: absolute;
    left: 40px;
    top: 0;
}

#page_about section.business_top .text .inner p {
    line-height: 2.3;
    font-weight: bold;
}

@media screen and (max-width:1500px) {
    #page_about section.business_top .text {
        width: 60%;
    }
}

@media screen and (max-width:1350px) {
    #page_about section.business_top .text {
        width: 60%;
    }

    #page_about section.business_top .text .inner {
        background: #fff;
        padding: 90px 90px 40px 90px;
        background: #fff;
    }
}

#page_about section.business_feature dl {
    width: 100%;
    padding-bottom: 15px;
}

#page_about section.business_feature dl dt {
    width: 20%;
    float: left;
}

#page_about section.business_feature dl dt img {
    width: 150px;
}

#page_about section.business_feature dl dd {
    width: 80%;
    letter-spacing: 4px;
    float: left;
    padding-top: 25px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #333333;
    padding-bottom: 33px;
}

#page_about section.business_feature dl:last-of-type dd {
    border-bottom: none;
}

#page_about section.business_feature .boxmsg {
    position: relative;
}

#page_about section.business_feature .boxmsg .star {
    position: absolute;
    top: -120px;
    right: -75px;
}

#page_about section.business_feature .boxmsg .bgimg {
    position: absolute;
    bottom: -60px;
    right: -115px;
}

#page_about section.about {
    background: url(../../images/about_bg.jpg) center top;
    min-height: 770px;
    background-size: cover;
    position: relative;
}

#page_about section.about .star_left {
    position: absolute;
    bottom: -40px;
    left: 40px;
}

#page_about section.about .star_right {
    position: absolute;
    top: 80px;
    right: 160px;
}

#page_about section.about .about_photo {
    width: 100%;
}

#page_about section.about .text {
    width: 50%;
    margin-left: auto;
    padding-top: 150px;
}

#page_about section.about .text .inner {
    background: #fff;
    padding: 90px 90px 40px 90px;
    background: #fff;
}

#page_about section.about .text .inner p {
    line-height: 2.3;
    padding-right: 30%;
    font-weight: bold;
}

@media screen and (max-width: 1600px) {
    #page_about section.about .text {
        width: 55%;
        padding-top: 200px;
    }

    #page_about section.about .text .inner {
        padding: 90px 90px 40px 90px;
    }

    #page_about section.about .text .inner p {
        padding-right: 8%;
    }

    #page_about section.about .star_right {
        position: absolute;
        top: 80px;
        right: 40px;
    }
}

#page_about .top_photo {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
}

#page_about section.policy {
    margin-top: -190px;
    padding-top: 190px;
}

#page_about section.policy .outer {
    width: 100%;
}

#page_about section.policy .outer .left {
    width: 40%;
    float: left;
    padding-top: 20px;
}

#page_about section.policy .outer .right {
    width: 60%;
    float: left;
}

#page_about section.policy .outer .right p {
    font-weight: bold;
}

#page_about section.policy .outer .bgimg {
    position: absolute;
    bottom: 0;
}

#page_about section.aim .wrapper {
    position: relative;
}

#page_about section.aim .bgimg {
    position: absolute;
    right: -70px;
    top: -85px;
}

#page_about section.aim .photo {
    background: url(../../images/about_aim_bg.jpg) center center;
    background-size: cover;
    height: 595px;
}

#page_about section.aim .list {
    width: 100%;
    margin-top: -155px;
}

#page_about section.aim .list p {
    font-weight: bold;
}

#page_about section.aim .list li {
    width: 29.33%;
    float: left;
}

#page_about section.aim .list li img.pc {
    display: block;
    margin: 0 auto;
}

#page_about section.aim .list li img.sp {
    display: none;
}

#page_about section.aim .list li:first-of-type {
    margin-right: 6%;
}

#page_about section.aim .list li:last-of-type {
    margin-left: 6%;
}

#page_about section.aim h3 {
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
    font-weight: bold;
}

/* program
----------------------------------------------------------------------------------------------------*/
#page_program .headline {
    width: 100%;
}

#page_program .linkbtn {
    width: 650px;
    margin: 0 auto;
}

#page_program .linkbtn li {
    width: 50%;
    float: left;
}

#page_program .linkbtn li a {
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
}

#page_program section.dayflow .tab {
    width: 100%;
}

#page_program section.dayflow .tab li {
    width: 49%;
    float: left;
}

#page_program section.dayflow .tab li:first-of-type {
    margin-right: 2%;
}

#page_program section.dayflow h3 {
    text-align: center;
    font-weight: bold;
    color: #333333;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
}

#page_program section.event h3 {
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
    font-weight: bold;
}

#page_program section.event {
    position: relative;
}

#page_program section.event .star_left {
    position: absolute;
    left: 60px;
    top: 430px;
}

#page_program section.event .star_right {
    position: absolute;
    right: 60px;
    top: 431px;
}

#page_program section.event .wrapper {
    position: relative;
}

#page_program section.event .event_left {
    position: absolute;
    top: 90px;
    left: -55px;
}

#page_program section.event .event_right {
    position: absolute;
    top: 87px;
    right: -50px;
}

@media screen and (max-width: 1600px) {
    #page_program section.event .star_left {
        position: absolute;
        left: 0px;
    }

    #page_program section.event .star_right {
        position: absolute;
        right: 0px;
    }
}

@media screen and (max-width: 1500px) {
    #page_program section.event .star_left {
        width: 140px;
    }

    #page_program section.event .star_right {
        width: 140px;
    }
}

@media screen and (max-width: 1400px) {
    #page_program section.event .star_left {
        width: 120px;
    }

    #page_program section.event .star_right {
        width: 120px;
    }
}

@media screen and (max-width: 1300px) {
    #page_program section.event .star_left {
        width: 80px;
    }

    #page_program section.event .star_right {
        width: 80px;
    }
}

@media screen and (max-width: 1200px) {
    #page_program section.event .star_left {
        display: none;
    }

    #page_program section.event .star_right {
        display: none;
    }
}

/* facility
----------------------------------------------------------------------------------------------------*/
#page_facility section.facility {
    position: relative;

}

#page_facility section.shokai .linkbtn {
    width: 650px;
    margin: 0 auto;
}

#page_facility section.shokai .linkbtn li {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

#page_facility .headline {
    width: 100%;
}

#page_facility section.facility .outer {
    width: 100%;
    position: relative;
}

#page_facility section.facility .star_left {
    position: absolute;
    left: -140px;
    top: -90px;
    z-index: 99;
}

#page_facility section.facility .star_right {
    position: absolute;
    right: -180px;
    top: -90px;
    z-index: 99;
}

#page_facility section.facility .left {
    width: 48%;
    float: left;
    margin-right: 4%;
    position: relative;
}

#page_facility section.facility .right {
    width: 48%;
    float: left;
    position: relative;
}

#page_facility section.facility .photo {
    position: relative;
}

#page_facility section.facility .photo .main {
    width: 100%;
}

#page_facility section.facility .photo .icon {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
}

#page_facility section.facility .photo .child {
    position: absolute;
    bottom: -20px;
    right: -64px;
}

#page_facility section.facility .left .star {
    position: absolute;
    right: -65px;
    bottom: 30px;
    z-index: 99;
}

#page_facility section.facility .right .star {
    position: absolute;
    right: 101px;
    top: -59px;
    z-index: 99;
}

#page_facility section.facility .text h3 {
    text-align: center;
    padding-top: 40px;
}

#page_facility section.facility .text p {
    padding-top: 20px;
    font-weight: bold;
}

#page_facility section.facility .center {
    text-align: center;
    font-weight: bold;
}

#page_facility section.shokai h3 {
    width: 100%;
    position: relative;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

#page_facility section.shokai .text {
    color: #333333;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    padding-left: 20px;
}

#page_facility section.shokai .num {
    position: absolute;
    right: 0;
    bottom: 0px;
}

#page_facility section.shokai .outer {
    width: 100%;
}

#page_facility section.shokai .outer .left {
    width: 48%;
    float: left;
    margin-right: 4%;
}

#page_facility section.shokai .outer .right {
    width: 48%;
    float: left;
}

#page_facility section.shokai iframe {
    width: 100%;
    height: 368px;
}

#page_facility section.shokai .small {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
}

#page_facility section.shokai ul.gallery {}

#page_facility section.shokai ul.gallery li {
    width: 48%;
    margin-top: 4%;
    float: left;
}

#page_facility section.shokai ul.gallery li:nth-child(odd) {
    margin-right: 4%;
}

#page_facility section.shokai ul.gallery li img {
    max-width: 100%;
    height: auto;
}

/* price
---------------------------------------------------------------------------------------------------*/
#page_price section.price .about {
    position: relative;

}

#page_price section.price .about .left {
    position: absolute;
    left: 60px;
    top: 50px;
}

#page_price section.price .about .right {
    position: absolute;
    right: 60px;
    top: 50px;
}

#page_price section.price .other {
    position: relative;
}

#page_price section.price .other .left {
    position: absolute;
    left: 60px;
}

#page_price section.price .other .right {
    position: absolute;
    right: 60px;
}

#page_price section.price .other ul li {
    border: 2px solid #00913a;
    background: #fff;
    text-align: center;
    font-size: 18px;
    padding: 6px 0 3px;
    margin-bottom: 10px;
}

#page_price section.price .other p {
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 1px;
    padding-left: 1em;
    text-indent: -1em;
}

#page_price section.price .paid {
    position: relative;
}

#page_price section.price .paid .left-img {
    position: absolute;
    left: 60px;
    top: 110px;
}

#page_price section.price .paid .right-img {
    position: absolute;
    right: 60px;
    top: 110px;
}

#page_price section.price .paid .outer .left {
    width: 48%;
    float: left;
    margin-right: 4%;
}

#page_price section.price .paid .outer .right {
    width: 48%;
    float: left;
}

#page_price section.price .paid .outer h4 {
    background: #feda2a;
    text-align: center;
    padding: 17px 0 15px;
    border-radius: 10px;
    letter-spacing: 3px;
    color: #231815;
    font-size: 18px;
    font-weight: bold;
}

#page_price section.price .paid .inner {
    border: 2px solid #00913a;
    padding: 20px;
    background: #fffadd;
}

#page_price section.price dl {
    background: #fffadd;
    border: 2px solid #00913a;
    font-size: 18px;
}

#page_price section.price dl dt {
    width: 75%;
    float: left;
    padding: 15px 0 13px 60px;
}

#page_price section.price dl dd:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../../images/naname.svg);
    background-size: contain;
    vertical-align: middle;
    left: 0;
    bottom: 2px;
}

#page_price section.price dl dt img {
    position: relative;
    top: -7px;
    padding: 0 10px;
}

#page_price section.price dl dd {
    width: 25%;
    float: left;
    padding: 15px 60px 13px 0px;
    text-align: right;
    position: relative;
}

#page_price section.price .paid .inner h5 {
    border-bottom: 2px solid #00913a;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

#page_price section.price .paid .inner h5 img {
    position: relative;
    top: -7px;
    padding: 0 10px;

}

#page_price section.price .paid .right_arrow {
    width: 0;
    height: 0;
    border-left: 10px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#page_price section.price .inner p {
    padding: 15px 40px 0;
    letter-spacing: 1px;
    width: 400px;
    margin: 0 auto;
}

#page_price section.price .headline {
    width: 100%;
}

#page_price section.price .about p {
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 1px;
    padding-left: 1em;
    text-indent: -1em;
}

@media screen and (max-width: 1600px) {
    #page_price section.price .about .left {
        position: absolute;
        left: 0px;
    }

    #page_price section.price .about .right {
        position: absolute;
        right: 0px;
    }

    #page_price section.price .other .left {
        position: absolute;
        left: 0px;
    }

    #page_price section.price .other .right {
        position: absolute;
        right: 0px;
    }

    #page_price section.price .paid .left-img {
        position: absolute;
        left: 0px;
    }

    #page_price section.price .paid .right-img {
        position: absolute;
        right: 0px;
    }
}

@media screen and (max-width: 1500px) {
    #page_price section.price .about .left {
        width: 200px;
    }

    #page_price section.price .about .right {
        width: 200px;
    }

    #page_price section.price .other .left {
        width: 200px;
    }

    #page_price section.price .other .right {
        width: 200px;
    }

    #page_price section.price .paid .left-img {
        width: 200px;
    }

    #page_price section.price .paid .right-img {
        width: 200px;
    }
}

@media screen and (max-width: 1400px) {
    #page_price section.price .about .left {
        width: 150px;
    }

    #page_price section.price .about .right {
        width: 150px;
    }

    #page_price section.price .other .left {
        width: 150px;
    }

    #page_price section.price .other .right {
        width: 150px;
    }

    #page_price section.price .paid .left-img {
        width: 150px;
    }

    #page_price section.price .paid .right-img {
        width: 150px;
    }
}

@media screen and (max-width: 1300px) {
    #page_price section.price .about .left {
        width: 100px;
    }

    #page_price section.price .about .right {
        width: 100px;
    }

    #page_price section.price .other .left {
        width: 100px;
    }

    #page_price section.price .other .right {
        width: 100px;
    }

    #page_price section.price .paid .left-img {
        width: 100px;
    }

    #page_price section.price .paid .right-img {
        width: 100px;
    }
}

@media screen and (max-width: 1200px) {
    #page_price section.price .about .left {
        display: none;
    }

    #page_price section.price .about .right {
        display: none;
    }

    #page_price section.price .other .left {
        display: none;
    }

    #page_price section.price .other .right {
        display: none;
    }

    #page_price section.price .paid .left-img {
        display: none;
    }

    #page_price section.price .paid .right-img {
        display: none;
    }
}



/* question
----------------------------------------------------------------------------------------------------*/
#page_question section.question {
    position: relative;
}

#page_question section.question .left {
    position: absolute;
    left: 60px;
    top: 140px;
}

#page_question section.question .right {
    position: absolute;
    right: 60px;
    top: 140px;
}

@media screen and (max-width: 1600px) {
    #page_question section.question .left {
        width: 200px;
        left: 0;
    }

    #page_question section.question .right {
        width: 200px;
        right: 0;
    }
}

@media screen and (max-width: 1500px) {
    #page_question section.question .left {
        width: 160px;
        left: 0;
    }

    #page_question section.question .right {
        width: 160px;
        right: 0;
    }
}

@media screen and (max-width: 1400px) {
    #page_question section.question .left {
        width: 130px;
        left: 0;
    }

    #page_question section.question .right {
        width: 130px;
        right: 0;
    }
}

@media screen and (max-width: 1300px) {
    #page_question section.question .left {
        width: 100px;
        left: 0;
    }

    #page_question section.question .right {
        width: 100px;
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    #page_question section.question .left {
        display: none;
    }

    #page_question section.question .right {
        display: none;
    }
}

#page_question section.question dl dt {
    position: relative;
    padding-left: 75px;
    font-weight: bold;
    padding-bottom: 70px;
}

#page_question section.question dl dt:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 56px;
    height: 77px;
    background-image: url(../../images/question_q.svg);
    background-size: contain;
    vertical-align: middle;
    left: 0;
    top: -18px;
}

#page_question section.question p {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 65px;
}

#page_question section.question dl {
    border-bottom: 2px dashed #ccc;
    margin-bottom: 40px;
    color: #333333;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.4;
}

#page_question section.question dl dd {
    position: relative;
    padding-left: 75px;
    padding-bottom: 60px;
}

#page_question section.question dl dd:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 56px;
    height: 77px;
    background-image: url(../../images/question_a.svg);
    background-size: contain;
    vertical-align: middle;
    left: 0;
    top: -18px;
}

#page_question section.question .headline {
    width: 100%;
}

#page_question section.question dl dd.r2 {
    padding-bottom: 50px;
}

#page_question section.question dl dd.r3 {
    padding-bottom: 50px;
}

#page_question section.question dl dd.r2:before {
    top: -11px;
}

#page_question section.question dl dd.r3:before {
    top: -5px;
}


/* recruit
----------------------------------------------------------------------------------------------------*/
#page_recruit section.recruit {
    position: relative;
}

#page_recruit section.recruit .linkbtn {
    width: 650px;
    margin: 0 auto;
}

#page_recruit section.recruit .linkbtn li {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

#page_recruit section.recruit .left {
    position: absolute;
    left: 60px;
    top: 90px;
}

#page_recruit section.recruit .right {
    position: absolute;
    right: 60px;
    top: 90px;
}


@media screen and (max-width: 1600px) {
    #page_recruit section.recruit .left {
        width: 240px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 240px;
        right: 0;
    }
}

@media screen and (max-width: 1500px) {
    #page_recruit section.recruit .left {
        width: 200px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 200px;
        right: 0;
    }
}

@media screen and (max-width: 1400px) {
    #page_recruit section.recruit .left {
        width: 170px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 170px;
        right: 0;
    }
}

@media screen and (max-width: 1300px) {
    #page_recruit section.recruit .left {
        width: 140px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 140px;
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    #page_recruit section.recruit .left {
        display: none;
    }

    #page_recruit section.recruit .right {
        display: none;
    }
}


#page_recruit section.recruit .headline {
    width: 100%;
}

#page_recruit section.recruit table {
    padding: 0 80px 40px;
}

#page_recruit section.recruit table th {
    width: 13%;
}

#page_recruit section.recruit table td {
    border: solid 2px #00913a;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;

}

#page_recruit section.recruit .linkbtn1 {
    padding-bottom: 60px;
}

#page_recruit section.recruit .linkbtn1 a {
    width: 400px !important;
}

#page_recruit section.recruit .employee ul li {
    border: solid 2px #00913a;
    background: #fffadd;
    margin-bottom: 20px;
    padding: 20px;
}

#page_recruit section.recruit .pa ul li {
    border: solid 2px #00913a;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

#page_recruit section.recruit ul li h3 {
    border-bottom: 2px solid #00913a;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

/* contact
----------------------------------------------------------------------------------------------------*/
#page_contact .headline {
    width: 100%;
}

#page_contact #contents h3 {
    text-align: center;
    font-weight: bold;
    color: #333333;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
}

#page_contact table,
table#mfp_confirm_table {
    border: none;
    margin: 30px auto 30px !important;
    color: #333333;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
    line-height: 1.4;
    width: 92%;
}

#page_contact table tr,
table#mfp_confirm_table tr {
    border-bottom: 2px dashed #ccc;
    padding: 25px 40px 25px !important;
}

#page_contact table th,
table#mfp_confirm_table th {
    padding: 33px 20px 25px !important;
    border: none !important;
    width: 280px !important;
    text-align: left !important;
    vertical-align: top !important;
    font-weight: bold;
}

#page_contact table td,
table#mfp_confirm_table td {
    padding: 25px 20px 25px !important;
    border: none !important;
    text-align: left !important;
    font-weight: bold;

}

input[type="text"],
textarea,
input[type="file"] {
    font-size: 108%;
}

#page_contact textarea {
    width: 100%;
}

#page_contact .submit {
    text-align: center;
}

#page_contact .submit input {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background: #339900;
    transition: .4s;
    border: 3px solid #333333;
    width: 300px;
    text-align: center;
    position: relative;
    cursor: pointer;
    outline: none;
}

#page_contact .submit input:hover {
    background: #fff;
    color: #339900;
}

#page_contact table em {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #df303d;

}

.mw_wp_form_confirm em {
    display: none;

}

#page_contact .privacy_box {
    width: 77%;
    margin: 0 auto;
    border: solid 2px #00913a;
    background: #fffadd;
    padding: 25px;
    margin-bottom: 30px;
}

.mw_wp_form_confirm .privacy_box {
    display: none !important;
}

#page_contact .privacy_box h3 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
    padding-bottom: 2%;
    color: #df303d;
    text-decoration: underline;
}

#page_contact .privacy_box .t2 {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #00913a;

}

#page_contact .privacy_box .privacy {
    text-align: center;
}

#page_contact .privacy_box a {
    color: #df303d !important;
    font-weight: bold;
}

/* single
----------------------------------------------------------------------------------------------------*/

ul.page_link {
    padding-top: 30px;
    margin-bottom: 30px;
}

ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #fefefe;
    text-decoration: none;
    color: #717171;
}

ul.page_link li a:hover {
    background: #efefef;
}

ul.page_link li.prev {
    float: left;
}

ul.page_link li.next {
    float: right;
}

.entry-date {
    width: 20%;
    float: left;
    padding: 8px 0px 5px;
    font-size: 15px;
}

.entry-title {
    width: 80%;
    float: left;
}

#page_single article {
    padding: 0 160px;
    margin-top: 60px;
}

@media screen and (max-width: 1000px) {
    #page_single article {
        padding: 0 0px;
    }
}

.news_entry .entry-header {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.news_entry .entry-header h3 {
    font-size: 15px;
    padding: 8px 0px 5px;
}

.news_entry .entry-content {
    padding-left: 20%;
    padding-top: 20px;
}

.news_entry .entry-content img {
    max-width: 100%;
    margin-bottom: 10px;
}

.news_entry .entry-content p {
    margin-bottom: 10px;
    font-size: 14px !important;
    font-size: 1.4rem !important;
}

#page_single .linkbtn {
    text-align: center;
    margin-bottom: 20px;
}

#page_single .linkbtn a {
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 30px;
    font-size: 13px;
    font-size: 1.3rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#page_single .linkbtn a:hover {
    background: #fff;
    border: 1px solid #000;
    color: #000;

}

/* 404
----------------------------------------------------------------------------------------------------*/

section.maintenance {
    background: url(../../images/feature_bg.jpg) repeat;
    position: relative;
}

section.maintenance p {
    font-weight: bold;
    color: #333333;
}
