@charset "utf-8";

/*-----------*/
/*   module  */
/*-----------*/
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);



/* float
----------------------------------------------------------------------------------------------------*/
.fl {
	float:left !important;
}
.fr {
	float:right !important;
}
.clear{
	clear:both !important;
}
img.wide{
	width:100%;
}

/* テキストの左右・中央寄せ
----------------------------------------------------------------------------------------------------*/
.tar {
	text-align: right !important;
}
.tac {
	text-align: center !important;
}
.tal {
	text-align: left !important;
}
.vat {
	vertical-align: top !important;
}
.vam {
	vertical-align: middle !important;
}
.vab {
	vertical-align: bottom !important;
}


/* 画像効果スタイル
----------------------------------------------------------------------------------------------------*/

/* polaroid (ポラロイド風) */

img.polaA {
	background: White;
	padding: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: Silver Gray Gray Silver;
}

img.polaB {
	background-color: White;
	border-color: #DCE3E3 #C1C1C1 #C1C1C1 #DCE3E3;
	border-width: 2px;
	padding: 10px 10px 50px 10px;
	border-style: solid;	
}

/* border */
img.border000{
	padding:1px;
	border:1px solid #000;
	margin:0 -2px;
}
img.border333{
	padding:1px;
	border:1px solid #333;
	margin:0 -2px;
}
img.border666{
	padding:1px;
	border:1px solid #666;
	margin:0 -2px;
}
img.border999{
	padding:1px;
	border:1px solid #999;
	margin:0 -2px;
}
img.borderCCC{
	padding:1px;
	border:1px solid #CCC;
	margin:0 -2px;
}

/* alpah */
a:hover img.alpha70{
	opacity:0.70;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}
a:hover img.alpha75{
	opacity:0.75;
	filter:alpha(opacity=75);
	-ms-filter: "alpha( opacity=75 )";
}
a:hover img.alpha80{
	opacity:0.80;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
a:hover img.alpha85{
	opacity:0.85;
	filter:alpha(opacity=85);
	-ms-filter: "alpha( opacity=85 )";
}
a:hover img.alpha90{
	opacity:0.90;
	filter:alpha(opacity=90);
	-ms-filter: "alpha( opacity=90 )";
}
a:hover img.alpha95{
	opacity:0.95;
	filter:alpha(opacity=95);
	-ms-filter: "alpha( opacity=95 )";
}
