@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sp {
	display: block;
}
html, body {
	width: 100%;
}
html {
	background-color: #fff;
	font-size: 62.5%;
}
body {
	text-align: center;
	line-height: 1.8;
	padding: 0px;
	font-family:"メイリオ", Noto Sans Japanese, Hiragino Sans,  "ヒラギノ角ゴシック",  Hiragino Kaku Gothic ProN,  "ヒラギノ角ゴ ProN W3",  Roboto,  "Droid Sans",  YuGothic,  "游ゴシック",  Meiryo,  "メイリオ",  Verdana,  "ＭＳ Ｐゴシック",  sans-serif;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/* link */
a {
	color: #000;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}

#outer {
	width: 100%;
	overflow: hidden;
}
.w100 {
	width: 100%;
}
.w70 {
	width: 70%;
}
.w50 {
	width: 50%;
}
.w40 {
	width: 40%;
}
.w30 {
	width: 30%;
}
.w20 {
	width: 20%;
}
.w10 {
	width: 10%;
}
.w05 {
	width: 5%;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 見出し設定 (ページ毎の調整はページで行う) 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.headline1 {
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	padding-bottom:4%;
	line-height:1.4;
}
.headline2 {
    font-size: 18px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    letter-spacing: 4px;
	justify-content: center;
}

.headline2:before, .headline2:after {
    content: "";
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #fefefe;
	width: 10px;
	height: 1px;
}
.headline2:before {
	margin-right: 1em;
}
.headline2:after {
	margin-left: 1em;
}

.headline3 {
	display: block;
	width: 62%;
	margin:0 auto;
	text-align:center;
    font-size: 16px;
    font-size: 1.6rem;
	border:1px solid #fefefe;
    letter-spacing: 4px;
    padding:1px 0;
}

.headline4 {
	font-size:13px;
    display: inline-block;
    padding:16px 20px 14px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    background: #339900;
    transition: .4s;
    border: 3px solid #333333;
    width: 100%;
    text-align: center;
    position: relative;
    letter-spacing: 3px;
}


.kome {
	text-align:left;
	font-size: 9px!important;
	letter-spacing: 1px!important;
	padding-top:5px;
}
.img-center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 リンクボタン
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.linkbtn1 {
	text-align:center;
}
.linkbtn1 a {
    display: inline-block;
    padding: 10px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background: #339900;
    transition: .4s;
    border: 3px solid #333333;
    width: 280px;
    text-align:center;
	position: relative;

}

.linkbtn1 a:hover {
	background: #fff;
	color:#339900;
}
.linkbtn1 a:after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 26px;
	height: 26px;
	right: 15px;
	top:23%;
	background-image: url(../../images/linkbtn_arrow.svg);
	background-size: contain;
	vertical-align: middle;
}

.linkbtn2 {
	text-align:center;
}
.linkbtn2 a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background: #339900;
    transition: .4s;
    border: 3px solid #333333;
    width: 280px;
    text-align: center;
    position: relative;

}

.linkbtn2 a:hover {
	background: #fff;
	color:#339900;
}
.linkbtn2 a:after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 25px;
	height: 26px;
	right: 15px;
	top:23%;
	background-image: url(../../images/linkbtn_under_arrow.svg);
	background-size: contain;
	vertical-align: middle;
}
/*++++++++++++++++++++++++++++++
　　table
++++++++++++++++++++++++++++++*/

table.style01 {
	margin: 0 0px;
	font-size: 13px;
	font-size: 1.3rem;
	width: 100%;
    border-collapse: separate;
    border-spacing: 6px 6px;

}

table.style01 th {
	text-align: center;
	padding: 6px 5px 5px;
	position: relative;
    border: solid 2px #00913a;
    background:#fffadd;
    line-height: 1.2;

}
table.style01 td {
	text-align: center;
	padding: 6px 10px 5px;
    border: solid 2px #888888;
    width: 12em;
}
@media screen and (max-width: 580px) {
	table.style01 td {
	    width: 7em;
	}
}
@media screen and (max-width: 470px) {
	table.style01 td {
	    width: 6em;
	}
}
@media screen and (max-width: 370px) {
	table.style01 td {
	    width: 5em;
	}
}

table.style01 tr.head th {
	padding: 6px 0px 5px;
}
table.style01 tr.head td {
	padding: 6px 0px 5px;
    border: solid 2px #ef8200;
    line-height: 1.2;
}

table.style01 .small {
	display: block;
	font-size:9px;
	line-height:1;
	padding-top:2%;
}

table.style02 {
	margin: 0 0px;
	font-size: 13px;
	font-size: 1.3rem;
	width: 100%;
    letter-spacing: 3px;
    font-weight: bold;
    width: 100%;
}
table.style02 th {
	text-align: left;
    vertical-align: top;
	width: 100%;
    display: block;
	padding: 4% 4% 0 4%;
	position: relative;
    font-weight: bold;
}
table.style02 tr:first-of-type th {
	border-top: 2px dashed #333333;
}
.right table.style02 tr:first-of-type th {
	border-top: none;
}

table.style02 tr {
	border-bottom: 1px dotted #fefefe;
}
table.style02 td {
	width: 100%;
    display: block;
	position: relative;
	padding: 0% 4% 4% 4%;
	border-bottom: 2px dashed #333333;

}




.privacy_cont {
	border: 1px solid #aaa;
	padding: 20px;
	height: 250px;
	overflow: scroll;
}
.contentBlockBody {
	margin-bottom: 20px;
}
.privacy_cont h4 {
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 5px;
}
.privacy_cont p {
	margin: 0 0 1em;
	font-size: 12px;
	font-size: 1.2rem;
}
.agree {
	text-align: center;
	margin: 20px 0 0;
}
.agree input {
	margin-right: 5px;
	position: relative;
	top: 1px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 フォーム
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
form input[type="text"], input[type="mail"], textarea, select {
	padding: 3px 3px;
	font-size: 16px;
	font-size: 1.6rem;
x width: 100%;
}
form input[type="radio"] {
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	left: -7px;
	top: 1px;
}
form span.small {
	font-size: 12px;
	font-size: 1.2rem;
}
form .mt {
	margin-top: 10px;
}
form .wide {
	width: 500px;
}
form label {
	margin-right: 20px;
}
form .submit_btn {
	text-align: center;
	margin-top: 40px;
}
form .submit_btn input {
	cursor: pointer;
	background: #c30000;
	color: #fff;
	padding: 15px 60px;
	display: inline-block;
	border: none;
}
.mw_wp_form_confirm span {
	display: none;
}
form .error {
	color: #f00;
	font-size: 13px;
	font-size: 1.3rem;
	padding-left: 10px;
}
form .block label {
	display: block;
	margin-bottom: 5px;
	cursor: pointer;
}
/*++++++++++++++++++++++++++++++
　　pager
++++++++++++++++++++++++++++++*/
.pagination {
	text-align: center;
}
.pagination .page, .pagination .page-numbers {
	display: inline-block;
	padding: 5px 7px 3px;
	margin-right: 3px;
	border: solid 1px #999999;
	font-size: 9px;
	text-decoration: none;
	color: #333;
	margin-top: 30px;
	margin-bottom: 40px;
}
.pagination .page-numbers.dots {
	border: none;
	background: none;
	box-shadow: none;
}
.pagination a {
	color: #5ba5d4;
}
.pagination .page:hover, .pagination .page.gradient:hover, .pagination .page-numbers:hover {
	background: #5ba5d4 !important;
	color: #fff!important;
	border: solid 1px #5ba5d4;
}
.pagination .page.active, .pagination .page-numbers.current {
	background: #5ba5d4;
	color: #fff!important;
	border: solid 1px #5ba5d4;
}
.pagination .page-numbers.dots:hover {
	background: none !important;
}
.pagination .page-numbers.current:hover {
	background: #5ba5d4 !important;
}
/*++++++++++++++++++++++++++++++
　アニメーション
++++++++++++++++++++++++++++++*/
.list-mv01 {
	opacity: 0;
	transform: translate(0, 60px);
	-webkit-transform: translate(0, 60px);
}
.mv01 {
	opacity: 1.0;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}

/* 背景デザイン
----------------------------------------------------------------------------------------------------*/
.bg_thema1 {
	background: url(../../images/feature_bg.jpg) repeat;
}

/* 余白調整用
----------------------------------------------------------------------------------------------------*/
/* padding */
.pt_s {
  padding-top: 2%;
}
.pt {
  padding-top: 4%;
}
.pt_l {
  padding-top: 6%;
}
.pb_s {
  padding-bottom: 2%;
}
.pb {
  padding-bottom: 4%;
}
.pb_l {
  padding-bottom: 6%;
}

/* margin */
.mt_s {
  margin-top: 2%;
}
.mt {
  margin-top: 4%;
}
.mt_l {
  margin-top: 6%;
}
.mb_s {
  margin-bottom: 2%;
}
.mb {
  margin-bottom: 4%;
}
.mb_l {
  margin-bottom: 6%;
}

/* font-size */
.fsize_xl {
    font-size: 18px;
    font-size: 1.8rem;
}

.fsize_l {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_s {
    font-size: 12px;
    font-size: 1.2rem;
}

.fsize_xs {
    font-size: 10px;
    font-size: 1.0rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}
.text_center  {
	text-align:left;
}
