@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.btn1 {
    text-align: center;
}

a {}

a:hover {
    color: #339900;
}

.btn1 a {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #fefefe;
    display: inline-block;
    padding: 10px 20px;
    width: 76%;
    color: #fefefe;
    letter-spacing: 0.1em;
    border: 1px solid #fefefe;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.btn1 a:hover {
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {
    overflow: hidden;
    width: 100%;
}

.wrapper {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper660 {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper770 {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper900 {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

/* header
----------------------------------------------------------------------------------------------------*/

header {
    width: 100%;
    background: #fff;
    padding: 3px 0;
    z-index: 9999;
    position: fixed;
}

header .sp-menu {
    z-index: 998;
}

header .top {
    padding-top: 22px;
    padding-bottom: 18px;
    width: 100%;
    font-size: 13px;
}

header h2 {
    color: #585755;
    font-size: 13px;
    text-align: left;
    padding: 5px 2% 5px 2%;
}

header h2 img {
    width: auto;
    height: 33px;
    padding-left: 5px;
}

header .menu {
    height: 49px;
    text-align: right;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    right: 0px;
    background: #339900;
}

header .menu img {
    padding: 0px 5px 0 0;
}

#closeMenu {
    display: none;
    z-index: 10001;
}

#openMenu img,
#closeMenu img {
    width: 54px;
    height: auto;
    z-index: 10001;
}

#overray {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 50px;
}

#closeMenu {
    display: none;
}

#layerMenu {
    margin-top: 49px;
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    z-index: 10010;
    background: rgba(50, 32, 10, 1);
}

/* メニュー */
header nav ul {
    overflow: hidden;
    background: #339900;
    width: 100%;
}

header nav ul li {
    padding: 1% 0;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px dashed #333333;
}

header nav ul li:last-of-type {
    border-bottom: none;
}

header nav ul li a {
    color: #fff !important;
    font-size: 13px;
    text-decoration: none;
    padding: 1% 2% 1% 2%;
    display: block;
    position: relative;
    text-align: left;
    overflow: hidden;
}

header nav ul li a::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    right: 3%;
    top: 28%;
    background-image: url(../../images/linkbtn_arrow.svg);
    background-size: contain;
    vertical-align: middle;
}

header nav ul li a img {
    width: 160px;
}

header nav ul li.about img {
    position: relative;
    left: 5px;
}

header nav ul li.facility img {
    position: relative;
    left: 3px;
}

header nav ul li.program img {
    position: relative;
    left: 4px;
}

header nav ul li.question img {
    position: relative;
    left: 3px;
}

header nav ul li.recruit img {
    position: relative;
    left: 5px;
}

header .pc-menu {
    display: none;
}


header nav ul li.contact a::after {
    content: none;
}

header nav ul li.contact img {
    width: 290px;
    margin: 0 auto;
}

header nav ul li.contact {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

header nav ul li.contact a {
    text-align: center;
}

/* footer
----------------------------------------------------------------------------------------------------*/

section.bottom_menu {
    margin-bottom: 18%;
}

section.bottom_menu ul {
    display: table;
    width: 100%;
    color: #fefefe;
    text-align: center;
}

section.bottom_menu ul li {
    height: 210px;
    width: 100%;
    display: block;
    padding: 59px 0 45px
}

section.bottom_menu ul li.cont1 {
    background: url(../../images/index_menu01.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li.cont2 {
    background: url(../../images/index_menu02.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li.cont3 {
    background: url(../../images/index_menu03.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li.cont4 {
    background: url(../../images/index_menu04.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li h4 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3em;
    line-height: 1.5;
}

section.bottom_menu ul li h5 {
    font-size: 9px;
    letter-spacing: 0.05em;
    margin-bottom: 4%;
    font-weight: 400;
}

section.bottom_menu ul li p {
    margin-bottom: 0;
}


/* お問い合わせ */
section.bottom_contact {
    text-align: center;
    padding-bottom: 8%;

}

section.bottom_contact h2 {
    font-size: 17px;
    margin-bottom: 0px;
    letter-spacing: 0.13em;

    line-height: 1.3;
}

section.bottom_contact h2 span {
    font-size: 9px;
    display: block;
    margin-top: 3px;
    letter-spacing: 0em;
}

section.bottom_contact p.btn {}

section.bottom_contact p.btn a {
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    margin: 25px 0;
    padding: 10px 20px;
    width: 76%;
    letter-spacing: 0.13em;
    background: #221814;
    color: #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #221814;

}

section.bottom_contact p.btn a:hover {
    background: #fff;
    color: #221814;
    border: 1px solid #221814;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

section.bottom_contact h3 {
    font-size: 9px;
}

section.bottom_contact p.tel {
    font-size: 11px;
}

section.bottom_contact p.tel a {
    text-decoration: none;
}

section.bottom_contact p.tel a:hover {
    color: #221814;
    cursor: default;
}


footer {
    background: #fffadd;
}

.footer_photo {
    background: url(../../images/footer_obi_sp.svg) no-repeat center;
    background-size: cover;
    height: 200px;
}

.footer_photo2 {
    background: url(../../images/footer_obi_sp.svg) no-repeat center;
    background-size: cover;
    height: 200px;
}

@media screen and (max-width: 500px) {
    .footer_photo {
        height: 170px;
    }

    .footer_photo2 {
        height: 170px;
    }
}

@media screen and (max-width: 400px) {
    .footer_photo {
        height: 120px;
    }

    .footer_photo2 {
        height: 120px;
    }
}

#page_program .footer_photo {
    display: none;
}

#page_facility .footer_photo {
    display: none;
}

footer .outer_left nav {
    width: 100%;
    display: table;
}

footer .outer_right {
    width: 100%;
}

footer .outer_right nav {
    width: 100%;
    float: left;
}

footer .inner {
    padding-top: 55px;
}

footer nav {
    padding: 0 4%
}

footer nav ul {
    float: left;
    width: 50%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    /*    padding-left: 4%;*/
}

footer nav ul li {
    padding: 0 0px 0 8%;
    margin-bottom: 6%;
    position: relative;
}

footer nav ul li img {
    width: 100px;
}

footer nav ul li.recruit {
    padding-left: 0;
}

footer nav ul li.recruit img {
    width: 100%;
}

footer nav ul li.recruit:before {
    content: none;
}

footer nav ul li.contact {
    padding-left: 0;
}

footer nav ul li.contact img {
    width: 100%;
}

footer nav ul li.contact:before {
    content: none;
}



footer nav ul li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    left: -7px;
    top: 6px;
    background-image: url(../../images/footer_arrow.svg);
    background-size: contain;
}

footer nav ul li.sp-menu {
    display: none;
}

footer nav ul li a {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.13em;
    color: #333333;
}

footer .outer_left p {
    font-size: 13px;
    text-align: center;
    color: #333333;
    font-weight: bold;
}

footer .outer_left .comp {
    width: 92%;
    margin: 0 auto;
}

footer .outer_left .comp .logo img {
    width: 180px;
}

footer .outer_left .comp .tel {
    width: 200px;
}

footer .outer_left .comp img {
    text-align: center;
    display: block;
    margin: 0 auto;
}

footer .copy {
    font-size: 11px !important;
    padding-bottom: 2%;
    padding-top: 8%;
}


#page-top a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 128px;
}

/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents.col2 {
    width: 810px;
    float: left;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
    padding-bottom: 8%;
}

#contents p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    color: #333333;
    letter-spacing: 2px;
}

#sidebar ul.bnr {}

#sidebar ul.bnr li {
    margin-bottom: 20px;
}

#sidebar ul.bnr li a {
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar ul.bnr li a:hover {
    display: block;
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#pagetitle {
    width: 100%;
    text-align: center;
}

#pagetitle.default {
    background: url(../../images/pagetitle.jpg) center center;
    height: 150px;
    background-size: cover;
}

#page_price #pagetitle {
    background: url(../../images/pagetitle_price.jpg) center center;
    height: 180px;
    background-size: cover;
}

#page_question #pagetitle {
    background: url(../../images/pagetitle_question.jpg) center center;
    height: 180px;
    background-size: cover;
}

#page_recruit #pagetitle {
    background: url(../../images/pagetitle_recruit.jpg) center center;
    height: 180px;
    background-size: cover;
}

#page_about #pagetitle {
    background: url(../../images/pagetitle_about.jpg) center center;
    height: 180px;
    background-size: cover;
}

#page_facility #pagetitle {
    background: url(../../images/pagetitle_facility.jpg) center center;
    height: 180px;
    background-size: cover;
}

#page_program #pagetitle {
    background: url(../../images/pagetitle_program.jpg) center center;
    height: 180px;
    background-size: cover;
}

#page_contact #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) center center;
    height: 180px;
    background-size: cover;
}


#pagetitle .text {
    position: relative;
    width: 100%;
}

#pagetitle .text img {
    position: absolute;
    top: 80px;
    width: 280px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
