@charset "utf-8";

/* index
----------------------------------------------------------------------------------------------------*/
/* mainimg */
#page_index section.mainimage {
    height: 579px;
    background: url(../../images/mainimage.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    margin-top: 49px;
}

#page_index section.mainimage:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100px;
    height: 70px;
    left: -4px;
    top: -2px;
    background-image: url(../../images/mainimg_flag_left.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_index section.mainimage:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100px;
    height: 70px;
    right: -4px;
    top: -3px;
    background-image: url(../../images/mainimg_flag_right.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_index section.mainimage h2 {
    text-align: center;
}

#page_index section.mainimage .linkbtn {
    position: absolute;
    bottom: -12%;
    z-index: 99;
    right: 0;
    left: 0;
}

@media screen and (max-width: 1020px) {
    #page_index section.mainimage h2 img {
        width: 360px;
        padding-top: 50px;
    }

    #page_index section.mainimage {
        height: 290px;
    }

    #page_index section.mainimage .linkbtn img {
        width: 340px;
    }
}

@media screen and (max-width: 400px) {
    #page_index section.mainimage .linkbtn img {
        width: 92%;
        margin: 0 auto;
    }

    #page_index section.mainimage .linkbtn {
        bottom: -6%;
    }

    #page_index section.mainimage h2 img {
        width: 92%;
        margin: 0 auto;
        padding-top: 60px;
    }
}

#page_index .feature {
    position: relative;
}

#page_index .feature .img_left {
    display: none;
}

#page_index .feature .img_right {
    display: none;
}

@media screen and (max-width: 1350px) {
    #page_index .feature .img_left {
        left: 0;
    }

    #page_index .feature .img_right {
        right: 0;
    }

}

#page_index .feature {
    position: relative;
}
}

#page_index .feature .outer {
    width: 100%;
}


#page_index .feature:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 66px;
    height: 430px;
    left: 0px;
    bottom: 20%;
    background-image: url(../../images/feature_left_sp.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_index .feature:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 66px;
    height: 430px;
    right: 0px;
    bottom: 20%;
    background-image: url(../../images/feature_right_sp.svg);
    background-size: contain;
    vertical-align: middle;
}

@media screen and (max-width: 530px) {
    #page_index .feature:before {
        width: 57px;
        height: 370px;
    }

    #page_index .feature:after {
        width: 57px;
        height: 370px;
    }
}

@media screen and (max-width: 450px) {
    #page_index .feature:before {
        width: 50px;
        height: 320px;
    }

    #page_index .feature:after {
        width: 50px;
        height: 315px;
    }
}

@media screen and (max-width: 400px) {
    #page_index .feature:before {
        width: 43px;
        height: 275px;
    }

    #page_index .feature:after {
        width: 43px;
        height: 275px;
    }
}

@media screen and (max-width: 350px) {
    #page_index .feature:before {
        width: 35px;
        height: 234px;
    }

    #page_index .feature:after {
        width: 35px;
        height: 234px;
    }
}


#page_index .feature .outer .left {
    width: 100%;
}

#page_index .feature .outer .right {
    width: 100%;
}

#page_index .feature .wrapper img {
    width: 100%;
    margin: 0 auto;
}

#page_index .feature .wrapper .head {
    width: 76%;
    margin: 0 auto;

}

#page_index .feature p {
    text-align: left;
}

#page_index .feature .linkbtn1 {
    text-align: center;
}

#page_index .about {
    position: relative;
}

#page_index .about .bgimg {
    width: 100%;

}

@media screen and (max-width: 1350px) {
    #page_index .about .left {
        left: 0;
    }

    #page_index .about .right {
        right: 0;
    }
}

@media screen and (max-width: 1020px) {
    #page_index .about .left {
        width: 26%;
        top: 12%;
    }

    #page_index .about .right {
        width: 26%;
        top: 12%;
    }
}


#page_index .about p {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

#page_index .about p .dot {
    letter-spacing: -7px;
}

@media screen and (max-width: 430px) {}


#page_index .hoiku img {
    width: 100%;
    margin: 0 auto;
}

#page_index .hoiku .head {
    width: 76%;
    margin: 0 auto;
}

#page_index .hoiku p {
    text-align: left;
    font-weight: bold;
    padding: 0 4% 8%;
    margin: 0 auto;
}

#page_index .hoiku .linkbtn1 {
    text-align: center;
}

#page_index .feature {
    text-align: center;
    font-weight: bold;
}

#page_index .news.mt_l {
    margin-top: 0 !important;
}

#page_index .news .outer {
    width: 100%;
}

#page_index .news .outer .left {
    width: 100%;
    text-align: center;
    margin-bottom: 8%;
}

#page_index .news .outer .right {
    width: 100%;
    float: left;
}

#page_index .news .outer .right {
    border-top: 2px dashed #ccc;
}

#page_index .news .outer .right dl {
    width: 100%;
    border-bottom: 2px dashed #ccc;
    padding: 11px 0;
    font-weight: bold;
    font-size: 13px;
}

#page_index .news .outer a {
    text-decoration: none;
}

#page_index .news .outer a:hover {
    color: #000;
}

#page_index .news .outer .right dl dt {
    width: 100%;
    color: #339900;
}

#page_index .news .outer .right dl dd {
    width: 100%;
    position: relative;
}

#page_index .news .outer .right dl dd:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    right: 10px;
    top: -30%;
    background-image: url(../../images/footer_arrow.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_index .iziModal {
    background: transparent;
    box-shadow: none;
}

#page_index .iziModal .iziModal-content {
    border: 2px solid #000;
    background: #fff;
    border-radius: 7px;
    padding: 6% !important;
    text-align: left;
    position: relative;
    margin: 0 auto !important;
    width: 92% !important;
}

#page_index .iziModal .modal_content {
    padding-top: 20px;
    font-size: 13px;
    color: #000;
}

#page_index .modal_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dashed #9e9e9e;
    text-align: left;
    padding-bottom: 10px;
}

#page_index .modal_title p {
    color: #000;
}

#page_index .modal_title .date {
    display: block;
    color: #339900;
    font-size: 13px;
    letter-spacing: 2px;
}

#page_index .modal-close {
    position: absolute;
    right: -10px;
    top: -27px;
}

#page_index .modal-close img {
    width: 60px;
}

/* about
----------------------------------------------------------------------------------------------------*/
#page_about .headline {
    width: 100%;
}

#page_about section.top .head,
#page_about section.business_feature .head,
#page_about section.about .head,
#page_about section.policy .head,
#page_about section.aim .head {
    width: 76%;
    margin: 0 auto;
}

#page_about section.about {
    position: relative;
}

#page_about section.about .star_left {
    display: none;
}

#page_about section.about .sp_photo {
    position: relative;
}

#page_about section.about .star_right {
    position: absolute;
    bottom: -45px;
    right: 0;
    width: 60px;
}

#page_about section.about .about_photo,
#page_about section.business_top .about_photo {
    width: 100%;
    position: relative;
}


#page_about section.business_top .sp_photo {
    position: relative;
}

#page_about section.business_top .star_right {
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 60px;
}

#page_about section.business_feature dl {
    width: 100%;
    padding-bottom: 15px;
}

#page_about section.business_feature dl dt {
    width: 30%;
    float: left;
}

#page_about section.business_feature dl dt img {
    width: 85%;
}

#page_about section.business_feature dl dd {
    width: 70%;
    letter-spacing: 4px;
    float: left;
    padding-top: 2%;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 2px solid #333333;
    padding-bottom: 33px;
}

#page_about section.business_feature dl:last-of-type dd {
    border-bottom: none;
}

#page_about section.business_feature .boxmsg {
    position: relative;
}

#page_about section.business_feature .boxmsg {
    position: relative;
}

#page_about section.business_feature .boxmsg .star {
    position: absolute;
    top: -120px;
    right: -75px;
}

#page_about section.business_feature .boxmsg .bgimg {
    position: absolute;
    right: 0px;
    top: -20px;
    width: 100px;
}

#page_about section.business_feature .sp_boxmsg {
    font-size: 13px;
    display: inline-block;
    padding: 16px 20px 14px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    background: #339900;
    transition: .4s;
    border: 3px solid #333333;
    width: 100%;
    text-align: left;
    position: relative;
    letter-spacing: 3px;
}

#page_about section.about .text {
    width: 100%;
}

#page_about section.about .text img,
#page_about section.business_top .text img {
    width: 70%;
    margin: 0 auto;
}

#page_about section.business_top .text .inner p,
#page_about section.about .text .inner p {
    line-height: 2.3;
    font-weight: bold;
    padding: 0 4%;
    text-align: left;
}

#page_about .top_photo_sp {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
}

#page_about section.policy {
    margin-top: -80px;
    padding-top: 80px;
}

#page_about section.policy .outer {
    width: 100%;
    padding-bottom: 4%;
}

#page_about section.policy .outer .left {
    width: 100%;
}

#page_about section.policy .outer .left img {
    width: 62%;
    margin: 8% auto;
}

#page_about section.policy .outer .right {
    width: 100%;
}

#page_about section.policy .outer .right p {
    font-weight: bold;
}

#page_about section.policy .outer .bgimg {
    position: absolute;
    bottom: 0;
}

#page_about section.aim .wrapper {
    position: relative;
}

#page_about section.aim .bgimg {
    position: absolute;
    right: 0px;
    top: -37px;
    width: 100px;
}

#page_about section.aim .photo {
    width: 100%;
}

#page_about section.aim .list {
    width: 100%;
    margin-top: -20px;
}

#page_about section.aim .list p {
    font-weight: bold;
}

#page_about section.aim .list li {
    width: 100%;
}

#page_about section.aim .list li img.pc {
    display: none;
}

#page_about section.aim .list li img.sp {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#page_about section.aim .list li:first-of-type {
    margin-bottom: 6%;
}

#page_about section.aim .list li:last-of-type {
    margin-top: 6%;
}

#page_about section.aim h3 {
    text-align: left;
    color: #333333;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    color: #333333;
    letter-spacing: 2px;
    font-weight: bold;
}


/* facility
----------------------------------------------------------------------------------------------------*/
#page_facility .head {
    width: 76%;
    margin: 0 auto;
}

#page_facility .shokai .linkbtn li a {
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
}

#page_facility .shokai .linkbtn {
    margin: 0 auto;
}

#page_facility .shokai .linkbtn li {
    width: 100%;
    margin-bottom: 4%;
}

#page_facility section.facility {
    position: relative;
}

#page_facility section.facility .headline {
    width: 100%;
}

#page_facility section.facility .outer {
    width: 100%;
    position: relative;
}

#page_facility section.facility .star_left {
    position: absolute;
    left: -140px;
    top: -90px;
    z-index: 99;
}

#page_facility section.facility .star_right {
    position: absolute;
    right: -180px;
    top: -90px;
    z-index: 99;
}

#page_facility section.facility .left {
    width: 100%;
    float: left;
    margin-bottom: 4%;
    position: relative;
}

#page_facility section.facility .right {
    width: 100%;
    float: left;
    position: relative;
}

#page_facility section.facility .photo {
    position: relative;
}

#page_facility section.facility .photo .sp_left {
    position: absolute;
    left: -10px;
    bottom: -35px;
    width: 80px;
}

#page_facility section.facility .photo .sp_right {
    position: absolute;
    right: -20px;
    top: -25px;
    width: 80px;
}

#page_facility section.facility .photo .main {
    width: 100%;
}

#page_facility section.facility .photo .icon {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
}

#page_facility section.facility .photo .child {
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 120px;
}

#page_facility section.facility .left .star {
    position: absolute;
    right: -65px;
    bottom: 30px;
    z-index: 99;
}

#page_facility section.facility .right .star {
    position: absolute;
    right: 101px;
    top: -59px;
    z-index: 99;
}

#page_facility section.facility .text h3 {
    text-align: center;
    padding-top: 40px;
}

#page_facility section.shokai h3 img {
    width: 50px;
}

#page_facility section.shokai .text {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    padding-left: 2%;
}

#page_facility section.facility .text p {
    padding-top: 20px;
    font-weight: bold;
}

#page_facility section.facility .center {
    text-align: left;
    font-weight: bold;
}

#page_facility section.shokai h3 {
    width: 100%;
    position: relative;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 4%;
}

#page_facility section.shokai .num {
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 13px;
}

#page_facility section.shokai .outer {
    width: 100%;
}

#page_facility section.shokai .outer .left {
    width: 100%;
    float: left;
    margin-right: 4%;
}

#page_facility section.shokai .outer .right {
    width: 100%;
    float: left;
}

#page_facility section.shokai iframe {
    width: 100%;
    height: 368px;
}

#page_facility section.shokai .small {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
    padding-left: 1em;
    text-indent: -1em;
}

#page_facility section.shokai ul.gallery li {
    margin-top: 2%;
}

#page_facility section.shokai ul.gallery li img {
    max-width: 100%;
    height: auto;
}

/* program
----------------------------------------------------------------------------------------------------*/
#page_program .headline {
    width: 100%;
}

#page_program .head {
    width: 76% !important;
    margin: 0 auto;
}

#page_program .linkbtn {
    margin: 0 auto;
}

#page_program .linkbtn li {
    width: 100%;
}

#page_program .linkbtn li:first-of-type {
    margin-bottom: 4%;
}

#page_program .linkbtn li a {
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
}

#page_program section.dayflow .tab {
    width: 100%;
}

#page_program section.dayflow .tab li {
    width: 49%;
    float: left;
    cursor: pointer;
}

#page_program section.dayflow #sp_tab li img {
    opacity: 0.5;
}

#page_program section.dayflow #sp_tab li.active img {
    opacity: 1;
}

#page_program section.dayflow .tab li:first-of-type {
    margin-right: 2%;
}

#page_program section.dayflow img {
    width: 100%;
    margin: 0 auto;
}

#page_program section.dayflow h3 {
    text-align: left;
    font-weight: bold;
    color: #333333;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    color: #333333;
    letter-spacing: 2px;
}

#page_program section.event h3 {
    text-align: left;
    font-weight: bold;
    color: #333333;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    color: #333333;
    letter-spacing: 2px;
}

#page_program section.event {
    position: relative;
}

#page_program section.event img {
    width: 100%;
    margin: 0 auto;
}

#page_program section.event .star_left {
    position: absolute;
    left: 60px;
    top: 430px;
}

#page_program section.event .star_right {
    position: absolute;
    right: 60px;
    top: 431px;
}

#page_program section.event .wrapper {
    position: relative;
}

#page_program section.event .event_left {
    position: absolute;
    top: 90px;
    left: -55px;
}

#page_program section.event .event_right {
    position: absolute;
    top: 87px;
    right: -50px;
}

@media screen and (max-width: 1600px) {
    #page_program section.event .star_left {
        position: absolute;
        left: 0px;
    }

    #page_program section.event .star_right {
        position: absolute;
        right: 0px;
    }
}

@media screen and (max-width: 1500px) {
    #page_program section.event .star_left {
        width: 140px;
    }

    #page_program section.event .star_right {
        width: 140px;
    }
}

@media screen and (max-width: 1400px) {
    #page_program section.event .star_left {
        width: 120px;
    }

    #page_program section.event .star_right {
        width: 120px;
    }
}

@media screen and (max-width: 1300px) {
    #page_program section.event .star_left {
        width: 80px;
    }

    #page_program section.event .star_right {
        width: 80px;
    }
}

@media screen and (max-width: 1200px) {
    #page_program section.event .star_left {
        display: none;
    }

    #page_program section.event .star_right {
        display: none;
    }
}


/* price
---------------------------------------------------------------------------------------------------*/
#page_price section.price .head {
    width: 76%;
    margin: 0 auto;
}

#page_price section.price .about {
    position: relative;

}

#page_price section.price .about .left {
    position: absolute;
    left: 60px;
    top: 40px;
}

#page_price section.price .about .right {
    position: absolute;
    right: 60px;
    top: 40px;
}

#page_price section.price .other {
    position: relative;
}

#page_price section.price .other .left {
    position: absolute;
    left: 60px;
}

#page_price section.price .other .right {
    position: absolute;
    right: 60px;
}

#page_price section.price .other ul li {
    border: 2px solid #00913a;
    background: #fff;
    text-align: center;
    font-size: 13px;
    padding: 6px 0 3px;
    margin-bottom: 10px;
}

#page_price section.price .other p {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-indent: -1em;
    padding-left: 1em;
}

#page_price section.price .paid {
    position: relative;
}

#page_price section.price .paid .left-img {
    position: absolute;
    left: 60px;
    top: 110px;
}

#page_price section.price .paid .right-img {
    position: absolute;
    right: 60px;
    top: 110px;
}

#page_price section.price .paid .outer .left {
    width: 100%;
    float: left;
    margin-bottom: 4%;
}

#page_price section.price .paid .outer .right {
    width: 100%;
    float: left;
}

#page_price section.price .img-center {
    width: 50px;
}

#page_price section.price .paid .outer h4 {
    background: #feda2a;
    text-align: center;
    padding: 15px 0 13px;
    border-radius: 10px;
    letter-spacing: 3px;
    color: #231815;
    font-size: 13px;
    font-weight: bold;
}

#page_price section.price .paid .inner {
    border: 2px solid #00913a;
    padding: 20px;
    background: #fffadd;
}

#page_price section.price dl {
    background: #fffadd;
    border: 2px solid #00913a;
    font-size: 13px;
}

#page_price section.price dl dt {
    width: 70%;
    float: left;
    padding: 15px 0 13px 4%;
}

#page_price section.price dl dd:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 25px;
    background-image: url(../../images/naname.svg);
    background-size: contain;
    vertical-align: middle;
    left: -5px;
    bottom: 13px;
}

#page_price section.price dl dt img {
    position: relative;
    top: -6px;
    padding: 0 5px;
    width: 27px;
}

#page_price section.price dl dd {
    width: 30%;
    float: left;
    padding: 15px 4% 13px 0px;
    text-align: right;
    position: relative;
}

@media screen and (max-width: 400px) {
    #page_price section.price dl dt {
        width: 64%;
    }

    #page_price section.price dl dd {
        width: 36%;
    }

    #page_price section.price dl dd:before {
        left: -5px;
    }
}

#page_price section.price .paid .inner h5 {
    border-bottom: 2px solid #00913a;
    padding-bottom: 10px;
    font-size: 13px;
    text-align: center;
}

#page_price section.price .paid .inner h5 img {
    position: relative;
    top: -4px;
    padding: 0 10px;

}

#page_price section.price .paid .right_arrow {
    width: 0;
    height: 0;
    border-left: 10px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#page_price section.price .inner p {
    padding: 15px 4% 0;
    letter-spacing: 1px;
}

#page_price section.price .headline {
    width: 100%;
}

#page_price section.price .about p {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-indent: -1em;
    padding-left: 1em;
}

@media screen and (max-width: 1600px) {
    #page_price section.price .about .left {
        position: absolute;
        left: 0px;
    }

    #page_price section.price .about .right {
        position: absolute;
        right: 0px;
    }

    #page_price section.price .other .left {
        position: absolute;
        left: 0px;
    }

    #page_price section.price .other .right {
        position: absolute;
        right: 0px;
    }

    #page_price section.price .paid .left-img {
        position: absolute;
        left: 0px;
    }

    #page_price section.price .paid .right-img {
        position: absolute;
        right: 0px;
    }
}

@media screen and (max-width: 1500px) {
    #page_price section.price .about .left {
        width: 200px;
    }

    #page_price section.price .about .right {
        width: 200px;
    }

    #page_price section.price .other .left {
        width: 200px;
    }

    #page_price section.price .other .right {
        width: 200px;
    }

    #page_price section.price .paid .left-img {
        width: 200px;
    }

    #page_price section.price .paid .right-img {
        width: 200px;
    }
}

@media screen and (max-width: 1400px) {
    #page_price section.price .about .left {
        width: 150px;
    }

    #page_price section.price .about .right {
        width: 150px;
    }

    #page_price section.price .other .left {
        width: 150px;
    }

    #page_price section.price .other .right {
        width: 150px;
    }

    #page_price section.price .paid .left-img {
        width: 150px;
    }

    #page_price section.price .paid .right-img {
        width: 150px;
    }
}

@media screen and (max-width: 1300px) {
    #page_price section.price .about .left {
        width: 100px;
    }

    #page_price section.price .about .right {
        width: 100px;
    }

    #page_price section.price .other .left {
        width: 100px;
    }

    #page_price section.price .other .right {
        width: 100px;
    }

    #page_price section.price .paid .left-img {
        width: 100px;
    }

    #page_price section.price .paid .right-img {
        width: 100px;
    }
}

@media screen and (max-width: 1200px) {
    #page_price section.price .about .left {
        display: none;
    }

    #page_price section.price .about .right {
        display: none;
    }

    #page_price section.price .other .left {
        display: none;
    }

    #page_price section.price .other .right {
        display: none;
    }

    #page_price section.price .paid .left-img {
        display: none;
    }

    #page_price section.price .paid .right-img {
        display: none;
    }
}

#page_price .bgimg {
    width: 100%;
}

/* question
----------------------------------------------------------------------------------------------------*/
#page_question .question .head {
    width: 76%;
    margin: 0 auto;

}

#page_question section.question {
    position: relative;
}

#page_question section.question .left {
    position: absolute;
    left: 60px;
    top: 140px;
}

#page_question section.question .right {
    position: absolute;
    right: 60px;
    top: 140px;
}

@media screen and (max-width: 1600px) {
    #page_question section.question .left {
        width: 200px;
        left: 0;
    }

    #page_question section.question .right {
        width: 200px;
        right: 0;
    }
}

@media screen and (max-width: 1500px) {
    #page_question section.question .left {
        width: 160px;
        left: 0;
    }

    #page_question section.question .right {
        width: 160px;
        right: 0;
    }
}

@media screen and (max-width: 1400px) {
    #page_question section.question .left {
        width: 130px;
        left: 0;
    }

    #page_question section.question .right {
        width: 130px;
        right: 0;
    }
}

@media screen and (max-width: 1300px) {
    #page_question section.question .left {
        width: 100px;
        left: 0;
    }

    #page_question section.question .right {
        width: 100px;
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    #page_question section.question .left {
        display: none;
    }

    #page_question section.question .right {
        display: none;
    }
}

#page_question section.question dl dt {
    position: relative;
    padding-left: 45px;
    font-weight: bold;
    padding-bottom: 12%;
}

#page_question section.question dl dt:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 42px;
    background-image: url(../../images/question_q.svg);
    background-size: contain;
    vertical-align: middle;
    left: 0;
    top: -8px;
}

#page_question section.question p {
    text-align: left;
    font-weight: bold;
    padding-bottom: 8%;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    color: #333333;
    letter-spacing: 2px;
}

#page_question section.question dl {
    border-bottom: 2px dashed #ccc;
    margin-bottom: 12%;
    color: #333333;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    letter-spacing: 4px;
    line-height: 1.4;
}

#page_question section.question dl dd {
    position: relative;
    padding-left: 45px;
    padding-bottom: 12%;
}

#page_question section.question dl dd:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 42px;
    background-image: url(../../images/question_a.svg);
    background-size: contain;
    vertical-align: middle;
    left: 0;
    top: -8px;
}

#page_question section.question .headline {
    width: 100%;
}

#page_question section.question dl dd.r2 {
    padding-bottom: 8%;
}

#page_question section.question dl dd.r3 {
    padding-bottom: 8%;
}

#page_question section.question dl dd.r2:before {
    top: -11px;
}

#page_question section.question dl dd.r3:before {
    top: -5px;
}

#page_question .bgimg {
    width: 100%;
}

/* recruit
----------------------------------------------------------------------------------------------------*/
#page_recruit section.recruit .head {
    width: 76%;
    margin: 0 auto;
}

#page_recruit .linkbtn li a {
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9;
    letter-spacing: 4px;
}

#page_recruit .linkbtn {
    margin: 0 auto;
}

#page_recruit .linkbtn li {
    width: 100%;
    margin-bottom: 4%;
}

#page_recruit section.recruit {
    position: relative;
}

#page_recruit section.recruit .left {
    position: absolute;
    left: 60px;
    top: 90px;
}

#page_recruit section.recruit .right {
    position: absolute;
    right: 60px;
    top: 90px;
}


@media screen and (max-width: 1600px) {
    #page_recruit section.recruit .left {
        width: 240px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 240px;
        right: 0;
    }
}

@media screen and (max-width: 1500px) {
    #page_recruit section.recruit .left {
        width: 200px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 200px;
        right: 0;
    }
}

@media screen and (max-width: 1400px) {
    #page_recruit section.recruit .left {
        width: 170px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 170px;
        right: 0;
    }
}

@media screen and (max-width: 1300px) {
    #page_recruit section.recruit .left {
        width: 140px;
        left: 0;
    }

    #page_recruit section.recruit .right {
        width: 140px;
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    #page_recruit section.recruit .left {
        display: none;
    }

    #page_recruit section.recruit .right {
        display: none;
    }
}


#page_recruit section.recruit .headline {
    width: 100%;
}

#page_recruit section.recruit table {
    padding: 0 0 12%;
}

#page_recruit section.recruit table th {
    width: 100%;
    display: block;

}

#page_recruit section.recruit table td {
    border-right: solid 2px #00913a;
    border-left: solid 2px #00913a;
    border-bottom: solid 2px #00913a;
    border-top: none;
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: block;

}

#page_recruit .bgimg {
    width: 100%;
}

#page_recruit section.recruit .linkbtn1 {
    width: 300px !important;
    margin: 0 auto;
}

#page_recruit section.recruit .linkbtn1 a:after {
    top: 24%;
    width: 22px;
    height: 22px;
    right: 13px;
}

#page_recruit section.recruit .employee ul li {
    border: solid 2px #00913a;
    background: #fffadd;
    margin-bottom: 20px;
    padding: 20px;
}

#page_recruit section.recruit .pa ul li {
    border: solid 2px #00913a;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

#page_recruit section.recruit ul li h3 {
    border-bottom: 2px solid #00913a;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

#page_recruit section.recruit .linkbtn1 {
    padding-bottom: 12%;
}

/* contact
----------------------------------------------------------------------------------------------------*/
#page_contact .head {
    width: 76%;
    margin: 0 auto;
}

#page_contact #contents h3 {
    text-align: left;
    font-weight: bold;
    color: #333333;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    color: #333333;
    letter-spacing: 2px;
}

#page_contact table,
table#mfp_confirm_table {
    border: none;
    margin: 4% auto 4% !important;
    color: #333333;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    letter-spacing: 4px;
    line-height: 1.4;
    width: 92%;
}

#page_contact table tr,
table#mfp_confirm_table tr {
    border-bottom: 2px dashed #ccc;
    padding: 4% 0 !important;
}

#page_contact table th,
table#mfp_confirm_table th {
    padding: 4% 0;
    display: block;
    border-top: none;
    font-weight: bold;
}

#page_contact table td,
table#mfp_confirm_table td {
    display: block;
    border-top: none;
}

#page_contact .mwform-radio-field {
    display: block;
    margin-left:0;
    margin-bottom:2%;
}

#page_contact table td {
    margin-bottom: 8%;
}

.mw_wp_form_confirm td {
    margin-bottom: 4% !important;
}

input[type="text"],
textarea,
input[type="file"] {
    font-size: 108%;
    width: 100%;
}

#page_contact textarea {
    width: 100%;
}

#page_contact .submit {
    text-align: center;
}

#page_contact .submit input {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background: #339900;
    transition: .4s;
    border: 3px solid #333333;
    width: 280px;
    text-align: center;
    position: relative;
    margin-bottom: 4%;
}

#page_contact .submit input:hover {
    background: #fff;
    color: #339900;
}

#page_contact table em {
    font-size: 10px;
    font-size: 1.0rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #df303d;
}

.mw_wp_form_confirm em {
    display: none;

}

#page_contact .privacy_box {
    width: 100%;
    margin: 0 auto;
    border: solid 2px #00913a;
    background: #fffadd;
    padding: 4%;
    margin-bottom: 4%;
}

.mw_wp_form_confirm .privacy_box {
    display: none !important;
}

#page_contact .privacy_box h3 {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 4px;
    padding-bottom: 2%;
    color: #df303d;
    text-decoration: underline;
}

#page_contact .privacy_box .t2 {
    text-align: center;
    font-size: 15px;
    margin-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 4%;
    border-bottom: 2px solid #00913a;

}

#page_contact .privacy_box .privacy {
    text-align: center;
}

#page_contact .privacy_box a {
    color: #df303d !important;
    font-weight: bold;
}

/* single
----------------------------------------------------------------------------------------------------*/

ul.page_link {
    padding-top: 30px;
    margin-bottom: 30px;
}

ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #fefefe;
    text-decoration: none;
    color: #717171;
}

ul.page_link li a:hover {
    background: #efefef;
}

ul.page_link li.prev {
    float: left;
}

ul.page_link li.next {
    float: right;
}

.entry-date {
    width: 100%;
    float: left;
    padding: 8px 0px 0px;
    font-size: 10px;
}

.entry-title {
    width: 100%;
    float: left;
}

#page_single article {
    padding: 0 160px;
    margin-top: 60px;
}

@media screen and (max-width: 1000px) {
    #page_single article {
        padding: 0 0px;
    }
}

.news_entry .entry-header {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.news_entry .entry-header h3 {
    font-size: 13px;
    padding: 0px 0px 5px;
}

.news_entry .entry-content {
    padding-left: 0%;
    padding-top: 4%;
}

.news_entry .entry-content img {
    max-width: 100%;
    margin-bottom: 10px;
}

.news_entry .entry-content p {
    margin-bottom: 10px;
    font-size: 14px !important;
    font-size: 1.4rem !important;
}

#page_single .linkbtn {
    text-align: center;
    margin-bottom: 20px;
}

#page_single .linkbtn a {
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 24px;
    width: 84%;
    margin: 0 auto;
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* 404
----------------------------------------------------------------------------------------------------*/
/* 404
----------------------------------------------------------------------------------------------------*/
section.maintenance {
    background: url(../../images/feature_bg.jpg) repeat;
    position: relative;
}

section.maintenance p {
    font-weight: bold;
    color: #333333;
}

@media screen and (max-width: 350px) {
    section.maintenance .tac {
        text-align: left !important;
    }

    section.maintenance br {
        display: none;
    }
}
